*{
    font-family: 'Nunito';
    font-weight: 700;

}

.gradientBg{
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
}

.bg-thirdC {
    background-color: #f8ecf4
}
.text-thirdC {
    color: #f8ecf4
}

.bg-secondC {
    background-color: #f8ecf4
}
.text-secondC {
    color: #f8ecf4
}

.bg-third2C {
    background-color: #A424FF;
}

.text-third2C {
    color: #A424FF;
}

.bg-firstC {
    background-color: #4B0082;
    background-image:#4B0082
}
.text-firstC {
    color: #4B0082
}

.bg-furthC {
    background-color: #F4E4FF;
    background-image:#F4E4FF
}
.text-furthC {
    color: #F4E4FF
}

::-webkit-scrollbar {
    width: 8px;
  }


  ::-webkit-scrollbar-track {
    background: #FFF;
  }


  ::-webkit-scrollbar-thumb {
    background: #4B0082;
  }


  ::-webkit-scrollbar-thumb:hover {
    background: #7832e0;
  }
